body {
    padding: 0;
    margin: 5px;
}

.header {
    background-color: #FEFEFE;
    font-family: sans-serif;
    font-size: 1.1em;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linkRepoInput {
    display: inline-block;
    border: 1px solid #C3E8F4;
    padding: 8px;
    margin-top: 10px;
    /* make input take up 100% minus spacing, minus button width */
    width: -moz-calc(100% - 10px - 25px);
    width: -webkit-calc(100% - 10px - 25px);
    font-size: 0.7em;
}

.linkRepoButton {
    width: 25px;
    height: 25px;
    float: right;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #C3E8F4;
}

.linkRepoButton:hover {
    background-color: #C3E8F4;
}

.linkRepoInput:focus {
    border: 2px solid #C3E8F4;
    outline: none;
    padding: 7px;
}

.repoContainer {
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    /* for some reason, top and bottom padding needs to be non-0 for plugin container margin to work */
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 8px;
}

.repoName {
    font-weight: bold;
    font-family: sans-serif;
    font-size: .8em;
    background-color: #EBEBEB;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    cursor: pointer;
    border: 2px solid #C3E8F4;
    margin: 5px;
    transition: 0.2s ease-out;
    height: inherit !important;
}

.repoName:hover {
    background-color: #C3E8F4;
    border: 2px solid #C3E8F4 !important;
}

.repoName.active {
    background-color: #C3E8F4;
    border: 2px solid #C3E8F4 !important;
}

.pluginName {
    background-color: #EBEBEB;
    font-weight: bold;
    font-size: .75em;
    font-family: sans-serif;
    padding: 8px;
    cursor: pointer;
    transition: 0.2s ease-out;
    border: 2px solid #C3E8F4;
}

.pluginName:hover {
    background-color: #C3E8F4;
    transition: 0.2s ease-out;
}

.pluginName.active {
    background-color: #C3E8F4;
    border: 2px solid #C3E8F4 !important;
}

.pluginContainer {
    margin-top: 8px;
    margin-bottom: 8px;
}

.pluginDescription {
    font-family: sans-serif;
    font-weight: normal;
    font-size: .6em;
    background-color: white;
    padding: 15px;
    border-left: 2px solid #C3E8F4;
    border-bottom: 2px solid #C3E8F4;
    border-right: 2px solid #C3E8F4;
    margin-bottom: 8px;
}

.checkboxDiv {
    float: right;
    clear: both;
    vertical-align: middle;
}


input[type="checkbox"] {
    position: relative;
    height: 1.25em;
    width: 1.25em;
    margin-top: -10%;
}