/*.ui-accordion-content {
    height: inherit !important;
    background-color: white;
    border: 2px solid #C3E8F4 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.ui-accordion-header {
    background-color: #EBEBEB;
    border: 2px solid #EBEBEB !important;
    outline: none;
}*/

.repoName {
    font-weight: bold;
    color: darkslategrey;
    height: inherit !important;
    background-color: #EBEBEB;
    border: 2px solid #C3E8F4 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.repoName:hover {
    background-color: #C3E8F4;
    border: 2px solid #C3E8F4 !important;
}

.repoName.active {
    max-height: null;
    background-color: #C3E8F4;
    border: 2px solid #C3E8F4 !important;
}

.pluginName {
    background-color: white;
    color: darkslategrey;
    font-weight: bold;
    /*font-size: 1.1em;*/
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 15px;
    padding-right: 15px;
}

.pluginDescription {
    color: darkslategrey;
    height: inherit !important;
    background-color: white;
    border: 2px solid #C3E8F4 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}


input[type="checkbox"] {
    background-color: white;
    height: 1.25em;
    width: 1.25em;
    border: 1px solid #4676a9;
    color: #4676a9;
    box-shadow: none;
}