body {
    padding: 0;
    margin: 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: white;
    font-family: Arial;
    color: grey;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.footerContainer {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.footerDiv {
    width: 100%;
    background-color: #ebebeb;
    font-family: sans-serif;
    padding: 10px;
}

.linkRepoInput {
    display: inline-block;
    border: 1px solid #4676A9;
    padding: 8px;
    margin-top: 20px;
    /* make input take up 100% minus spacing, minus button width */
    width: -moz-calc(100% - 10px - 35px);
    width: -webkit-calc(100% - 10px - 35px);
    font-size: 0.7em;
}

.linkRepoInput:hover {
    border: 2px solid #C3E8F4;
    outline: none;
    padding: 7px;
}

.linkRepoInput:focus {
    border: 2px solid #C3E8F4;
    outline: none;
    padding: 7px;
}

.linkRepoButton {
    width: 35px;
    height: 35px;
    float: right;

    /* make margin-top = linkRepoInput padding */
    margin-top: 8px;
    background-color: transparent;
    background: url("img/button_add@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    outline: none;
    border: none;
}


.linkRepoButton:hover {
    background-color: #C3E8F4;
}

.treeArrowRepo {
    width: 10px;
    height: 10px;
    margin-top: 12px;
    margin-right: 5px;
    float: left;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    outline: none;
    border: none;
}

.treeArrowPlugin {
    width: 8px;
    height: 8px;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    outline: none;
    border: none;
}

.repoInfoButton {
    width: 35px;
    height: 35px;
    float: right;
    background-color: transparent;
    background: url("img/button_information@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    outline: none;
    border: none;
}

.repoInfoButton:hover {
    width: 35px;
    height: 35px;
    background: url("img/button_information_selected@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.unlinkRepoButton {
    width: 35px;
    height: 35px;
    float: right;
    background-color: transparent;
    background: url("img/button_remove@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    outline: none;
    border: none;
    /* make margin-right = margin-right in linkRepoInput */
    margin-right: 5px;

    /* make margin-top = ((repoName margin/2) + (button width - background-size) / 2) */
    margin-top: -moz-calc((5px/2) + (35px - 25px)/2);
    margin-top: -webkit-calc((5px/2) + (35px - 25px)/2);

    vertical-align: middle;

    line-height: 35px;
}

.unlinkRepoButton:hover {
    background-color: #C3E8F4;
}

.repoContainer {
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    /* for some reason, top and bottom padding needs to be non-0 for plugin container margin to work */
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 15px;
    cursor: auto;
    transition: display 0.2s ease-out;
}

.repoName {
    vertical-align: middle;
    font-weight: bold;
    font-family: sans-serif;
    font-size: .9em;
    background-color: #4676A9;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    color: white;
    border: 2px solid #4676A9;
    margin: 5px;
    transition: 0.2s ease-out;

    /* make line height = button height */
    line-height: 35px;

    /* make div take up 100% minus spacing, minus button width, to allow for unlinkRepoButton */
    width: -moz-calc(100% - 10px - 35px - 24px);
    width: -webkit-calc(100% - 10px - 35px - 24px);
    display: inline-block;
}

.repoName:hover {
    color: white;
    background-color: #4676A9;
    border: 2px solid #C3E8F4 !important;
}

.repoName.active {
    color: #4676A9;
    background-color: #C3E8F4;
    border: 2px solid #C3E8F4 !important;
    padding-bottom: 6px;
}

.pluginName {
    color: #4676A9;
    background-color: white;
    font-weight: bold;
    font-size: .85em;
    font-family: sans-serif;
    padding: 8px;
    cursor: pointer;
    transition: 0.2s ease-out;
    border: 2px solid #4676A9;
    line-height: 20px;
}

.pluginName:hover {
    color: #4676A9;
    background-color: white;
    border: 2px solid #C3E8F4 !important;
    transition: 0.2s ease-out;
}

.pluginName.active {
    color: #4676A9;
    background-color: #C3E8F4;
    border: 2px solid #C3E8F4 !important;
}

.pluginContainer {
    margin-top: 8px;
    margin-bottom: 8px;
}

.pluginDescription {
    font-family: sans-serif;
    font-weight: normal;
    font-size: .85em;
    color: grey;
    background-color: white;
    padding: 15px;
    border-left: 2px solid #C3E8F4;
    border-bottom: 2px solid #C3E8F4;
    border-right: 2px solid #C3E8F4;
    margin-bottom: 8px;
    transition: display 0.2s ease-out;
    line-height: 20px;
}

.checkboxDiv {
    float: right;
    margin-top: -2px;
}


input[type="checkbox"] {
    position: relative;
    height: 1.45em;
    width: 1.45em;
}
