body {
    padding: 0;
    margin: 5px;
}

.header {
    background-color: white;
    font-family: Arial;
    color: grey;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.linkRepoInput {
    display: inline-block;
    border: 1px solid #4676A9;
    padding: 8px;
    margin-top: 10px;
    /* make input take up 100% minus spacing, minus button width */
    width: -moz-calc(100% - 10px - 25px);
    width: -webkit-calc(100% - 10px - 25px);
    font-size: 0.7em;
}

.linkRepoInput:hover {
    border: 2px solid #C3E8F4;
    outline: none;
    padding: 7px;
}

.linkRepoInput:focus {
    border: 2px solid #C3E8F4;
    outline: none;
    padding: 7px;
}

.linkRepoButton {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 11px;
    background-color: transparent;
    background: url("img/button_add@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    outline: none;
    border: none;
}


.linkRepoButton:hover {
    background-color: #C3E8F4;
}

.unlinkRepoButton {
    width: 30px;
    height: 30px;
    float: right;
    background-color: transparent;
    background: url("img/button_remove@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    outline: none;
    border: none;
    margin-top: 8px;
    margin-right: 5px;
}

.unlinkRepoButton:hover {
    background-color: #C3E8F4;
}

.repoContainer {
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    /* for some reason, top and bottom padding needs to be non-0 for plugin container margin to work */
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 8px;
    cursor: auto;
    transition: display 0.2s ease-out;
}

.repoName {
    font-weight: bold;
    font-family: sans-serif;
    font-size: .9em;
    background-color: #4676A9;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    color: white;
    border: 2px solid #4676A9;
    margin: 5px;
    transition: 0.2s ease-out;
    height: inherit !important;
    /* make div take up 100% minus spacing, minus button width, to allow for remove button */
    width: -moz-calc(100% - 10px - 25px - 24px);
    width: -webkit-calc(100% - 10px - 25px - 24px);
    display: inline-block;
}

.repoName:hover {
    color: white;
    background-color: #4676A9;
    border: 2px solid #C3E8F4 !important;
}

.repoName.active {
    color: #4676A9;
    background-color: #C3E8F4;
    border: 2px solid #C3E8F4 !important;
}

.pluginName {
    color: white;
    background-color: #4676A9;
    font-weight: bold;
    font-size: .85em;
    font-family: sans-serif;
    padding: 8px;
    cursor: pointer;
    transition: 0.2s ease-out;
    border: 2px solid #4676A9;
}

.pluginName:hover {
    color: white;
    background-color: #4676A9;
    border: 2px solid #C3E8F4 !important;
    transition: 0.2s ease-out;
}

.pluginName.active {
    color: #4676A9;
    background-color: #C3E8F4;
    border: 2px solid #C3E8F4 !important;
}

.pluginContainer {
    margin-top: 8px;
    margin-bottom: 8px;
}

.pluginDescription {
    font-family: sans-serif;
    font-weight: normal;
    font-size: .85em;
    color: grey;
    background-color: white;
    padding: 15px;
    border-left: 2px solid #C3E8F4;
    border-bottom: 2px solid #C3E8F4;
    border-right: 2px solid #C3E8F4;
    margin-bottom: 8px;
    transition: display 0.2s ease-out;
}

.checkboxDiv {
    float: right;
    clear: both;
    vertical-align: middle;
}


input[type="checkbox"] {
    position: relative;
    height: 1.25em;
    width: 1.25em;
    margin-top: -10%;
}
