body {
    padding: 0;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:100%;
    height:100%;
    overflow: hidden;
}

input[type="checkbox"] {
    position: relative;
    height: 1.45em;
    width: 1.45em;
}

ul {
    margin-bottom: 0;
}

li {
    list-style-type: none;
    position: relative;
    margin-top: 10px;
    margin-left: -1.5em;
}

li:before{
    content: ' ';
    display: block;
    width: 5px;
    height: 5px;
    background: grey;
    position: absolute;
    top: 6px;
    left: -15px;
}

#headerContainer{
    padding: 5px 5px 0px 5px;
    flex-shrink: 0;
}

.header {
    background-color: white;
    font-family: Arial;
    color: grey;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.linkRepoInput {
    display: inline-block;
    border: 1px solid #4676A9;
    padding: 8px;
    margin-top: 20px;
    /* make input take up 100% minus spacing, minus button width */
    width: calc(100% - 10px - 35px);
    font-size: 0.72em;
}

.linkRepoInput:hover {
    border: 2px solid #C3E8F4;
    outline: none;
    padding: 7px;
}

.linkRepoInput:focus {
    border: 2px solid #C3E8F4;
    outline: none;
    padding: 7px;
}

.linkRepoButton {
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 19px;
    background-color: transparent;
    background: url("img/button_add@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    outline: none;
    border: none;
}


.linkRepoButton:hover {
    background-color: #C3E8F4;
}

#repoListContainer{
    flex-grow: 1;
    overflow: auto;
    padding: 0px 5px 0px 5px;
}

.treeArrowRepo {
    width: 10px;
    height: 10px;
    margin-top: 12px;
    margin-right: 5px;
    float: left;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    outline: none;
    border: none;
}

.treeArrowPlugin {
    width: 8px;
    height: 8px;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    outline: none;
    border: none;
}

.repoInfoButton {
    width: 35px;
    height: 35px;
    float: right;
    background-color: transparent;
    background: url("img/button_information@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    outline: none;
    border: none;
}

.repoInfoButton:hover {
    width: 35px;
    height: 35px;
    background: url("img/button_information_selected@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.unlinkRepoButton {
    width: 35px;
    height: 35px;
    float: right;
    background-color: transparent;
    background: url("img/button_remove@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    outline: none;
    border: none;
    /* make margin-right = margin-right in linkRepoInput */
    margin-right: 5px;

    /* make margin-top = ((repoName margin/2) + (button width - background-size) / 2) */
    margin-top: calc((5px/2) + (35px - 25px)/2);

    vertical-align: middle;

    line-height: 35px;
}

.unlinkRepoButton:hover {
    background-color: #C3E8F4;
}

.repoContainer {
    background-color: RGB(245, 245, 245);
    padding-left: 8px;
    padding-right: 8px;
    /* for some reason, top and bottom padding needs to be non-0 for plugin container margin to work */
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 3px;
    cursor: auto;
    transition: display 0.2s ease-out;
}

.repoName {
    vertical-align: middle;
    font-weight: bold;
    font-family: sans-serif;
    font-size: .92em;
    background-color: white;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    color: #4676a9;
    border: 2px solid #4676A9;
    margin: 5px;
    transition: 0.2s ease-out;

    /* make line height = button height */
    line-height: 35px;

    /* make div take up 100% minus spacing, minus button width, to allow for unlinkRepoButton */
    width: calc(100% - 10px - 35px - 24px);
    display: inline-block;
}

.repoName:hover {
    color: #4676a9;
    background-color: white;
    border: 2px solid #C3E8F4 !important;
}

.repoName.active {
    color: white;
    background-color:#4676A9;
    border: 2px solid #C3E8F4 !important;
    padding-bottom: 6px;
}

.repoDescription {
    font-family: sans-serif;
    font-weight: normal;
    color: black;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    transition: display 0.2s ease-out;
    line-height: 20px;
}

.pluginName {
    color: #4676A9;
    background-color: white;
    font-weight: bold;
    font-size: .87em;
    font-family: sans-serif;
    padding: 8px;
    cursor: pointer;
    transition: 0.2s ease-out;
    border: 2px solid #4676A9;
    line-height: 20px;
}

.pluginName:hover {
    color: #4676A9;
    background-color: white;
    border: 2px solid #C3E8F4;
    transition: 0.2s ease-out;
}

.pluginName.active {
    color: #4676A9;
    background-color: hsl(211, 41%, 95%);
    border-top: 2px solid #4676a9 !important;
    border-left: 2px solid #4676a9 !important;
    border-right: 2px solid #4676a9 !important;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    transition: display 0.2s ease-out;
}

.pluginName.active:hover {
    border-top: 2px solid #4676A9;
    border-left: 2px solid #4676A9;
    border-right: 2px solid #4676A9;
    border-bottom: 2px solid transparent;;
}

.pluginContainer {
    margin-top: 8px;
    margin-bottom: 8px;
}

.pluginDescription {
    font-family: sans-serif;
    font-weight: normal;
    font-size: .87em;
    color: black;
    background-color: hsl(211, 41%, 99%);
    padding: 15px;
    border-left: 2px solid #4676a9;
    border-bottom: 2px solid #4676a9;
    border-right: 2px solid #4676a9;
    border-top: none;
    /* account for no top border */
    margin-top: -1px;
    margin-bottom: 8px;
    transition: display 0.2s ease-out;
    line-height: 20px;
}

.checkboxDiv {
    float: right;
    margin-top: -2px;
}

.footerDiv {
    background-color: hsl(0, 0%, 97%);
    font-family: sans-serif;
    padding: 15px;
}

#footerContainer {
    flex-shrink: 0;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

#footerContainer p {
    margin-bottom: 0;
}

#footerContainer a {
    color: #4676a9;
    text-decoration: none;
}

#footerContainer a:hover {
    color: rgb(158, 189, 199);
}

#footerContainer a:visited {
    color: #4676a9;
}
